.wrapper
  = render "tops/header"
  .recruitment
  - @recruitments.each do |post|
    .recruitment__content.wow.fadeInLeft
      .recruitment__content__title
        = post.teamname
      .recruitment__content__box
        .recruitment__content__box1
          .recruitment__content__box1__name
            募集者 :
            = link_to user_path(post.user_id), class: "user--edit" do
              = post.user.name
          .recruitment__content__box1__place
            エリア :
            = @area.name
        .recruitment__content__box2
          .recruitment__content__box2__introduction
            紹介文 :
            = post.introduction
      -# .recruitment__content__category
      -#   カテゴリ :
      -#   = post.category
      .recruitment__content__application-btn
        = link_to "連絡を取る","/"